<section class="section">
    <div class="container columns">
        <!-- LEFT SIDE -->
        
        <!-- Top Card -->
        <div class="column is-full">
            <div class="card">
                <!-- Avatar -->
                <div class="card-content is-horizontal-center is-flex">
                    <figure class="image is-128x128">
                         <%= image_tag avatar_url(current_user), class: "ia-rounded" %>
                    </figure>
                </div> 
                
                <div class="card-content">
                  <!-- User image upload button -->
                <div class="content has-text-centered">
                    <p class="title is-5">
                        <%= current_user.full_name %>
                    </p>
                    <%= form_for :user, url: users_edit_url(@user), action: :update, method: :post do |f| %>
                        <div class="file">
                            <label class="button is-primary is-outlined is-fullwidth">
                                <%= f.file_field :avatar, class: "file-input" , onchange: "this.form.submit();" %>
                                    <i class="fas fa-upload"></i>&nbsp; & Upload Avatar
                            </label>
                        </div>
                        <% end %>
                </div>
                <hr class="h-10">

                </div>
            </div>
        </div>
    </div>
</section>