<nav class="navbar is-success is-fixed-top ">
    <!-- Brand -->
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <h1 class="title is-4  has-text-white"><b>Upwave</b></h1>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <!-- Second part of navbar to the right -->
    <div class="navbar-end">
       <div class="navbar-item">
           <!-- Login and sign up buttons -->
           <div class="buttons">
               <a href="" class="button is-primary">Sign Up</a> 
               <a href="" class="button is-light">Login</a>
           </div>
       </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
            el.addEventListener('click', () => {

                // Get the target from the "data-target" attribute
                const target = el.dataset.target;
                const $target = document.getElementById(target);

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');

                // reload the current page

            });
        });

    });
</script>