<section class="hero is-medium has-bg-img ">
    <div class="hero-body">
        <!-- Title -->
        <div class="container">
            <h1 class="title has-text-white">
                Search for the best Freelance Services <br>
                For Your Business
            </h1>
            <%= text_field_tag 'q' , '' , class: "input is-rounded is-focused" , placeholder: "Try 'web design'" %>

                <div class="control">
                    <button class="button is-primary" type="submit">Search</button>
                </div>
        </div>
    </div>
</section>

<section class="m-t-100">
    <div class="container">
        <h1 class="title is-4 p-l-10">
            Popular services
        </h1>

        <div class="hero-carousel">
           <!-- First -->
        <div class="carousel-item">
            <div class="p-10">
                
                    <div class="card-image">
                        
                            <div class="card-content is-overlay is-clipped">
                                <span class="subtitle f-15 has-text-white">Customize Your Site</span>
                                <span class="title is-4 has-text-white">Wordpress</span>
                            </div>
                    </div>
                    
            </div>
        </div>
           <!-- Second -->
           
        </div>
    </div>
    
</section>